.App {
  text-align: center;
}


label{
  font-size: 1rem; 
  display: inline-block;
  min-inline-size:10% ;
 
  min-width: 10%;
  margin-top: 6px;

}

input {
  font-size: 1rem;
  text-align: center;
  max-width: 10em;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button { 
  font-size: 1.5rem;
  margin: 0.5em 0 0.5em 0.5em;
  min-width: 2em;
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
button:focus { 
   background-color: blue;
   color: azure;
}
.inputelement{

  display: block ;
}
.signs{
  padding-top: 1%;
}
form{
  padding-top: 1%;
}
.point {
  text-decoration: underline;
  cursor: pointer;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}